.discreptions_about_app {
    height: 100%;
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.authentication_box {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box_for_name_app {
    height: 25%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.lables{
    width: 37%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5%;
}

#appName{
    width: 100%;
    padding: 4% 0;
    color: #3E0B71;
    font-size: 2.2vw;
    border-bottom: #3E0B71 solid 0.21vh;
    font-family: "Montserrat";
    font-weight: 400;
}

.label_authentication{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    gap: 13%;
    justify-content: center;
}

.inputs{
    box-shadow: 0px 1.23899px 1.23899px rgba(62, 11, 113, 0.3);
    display: block;
    width: 100%;
    height: 20%;
    padding: 8% 10%;
    font-family: "Montserrat";
    font-size: 1.2vw;
    font-weight: 300;
    border-radius: 25px;
    outline: none;
    border: none;
}

.inputs::placeholder{
    opacity: 0.5;
}

.inputs:focus-within::placeholder{
    opacity: 1;
}


#authenticationBtn{
    display: block;
    width: 45%;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    height: 13%;
    transition: 0.4s;
    background: linear-gradient(264.18deg, rgba(195, 21, 223, 0.75) 11.82%, rgba(62, 11, 113, 0.75) 78.86%);
    font-size: 0.8vw;
    border-radius: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    align-items: center;
    color: white;
}

#authenticationBtn:hover{
    transition: 0.3s;
    background: linear-gradient(264.18deg, rgba(195, 21, 223, 0.75) 11.82%, rgba(62, 11, 113, 0.75) 78.86%);
    outline: none;
    border: none;
    cursor: pointer;
}

#title{
    display: flex;
    align-items: center;
    gap: 5%;
    width: 80%;
    height: 30%;
    font-family: "Montserrat";
    justify-content: center;
}

#title>img{
    height: 50%;
}

#titleText{
    font-weight: 500;
    font-size: 1.8vw;
}

#description{
    font-family: "Inter";
    font-weight: 200;
    height: 50%;
    width: 60%;
    padding: 0 2%;
    border-bottom: #3E0B71 solid 0.1vw;
    font-size: 1.4vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

#paymentBox{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#paymentTitle{
    font-family: "Montserrat";
    font-weight: 500;
    height: 20%;
    color: #3E0B71;
    font-size: 1.4vw;
}

#payments{
    display: flex;
    gap: 5%;
    width: 80%;
    height: 20%;
    justify-content: center;
}

.paymentImg{
    cursor: pointer;
    height: 100%;
}

#mobile{
    display: none;
}

@media (max-width: 780px){ 
    .App{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #mobile{
        width: 80%;
        height: 25vh;
        gap: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    #mobile>p{
        color: #3E0B71;
        font-family: "Montserrat";
        font-size: 2.4vh;
        font-weight: 500;
    }

    .lables{
        margin-top: 5%;
        width: 81%;
        gap: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #ins{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        gap: 13%;
    }

    .inputs{
        border-radius: 22px;
        height: 7vh;
        display: flex;
        font-size: 2vh;
    }

    #authenticationBtn{
        margin-top: 5%;
        height: 4.8vh;
        border-radius: 16px;
        font-size: 1.6vh;
    }
    .box_for_name_app{
        display: none;
    }

    #title{
        display: none;
    }
    #paymentBox{
        display: none;
    }
    .discreptions_about_app{
        width: 100%;
        height: 25%;
        background-color: rgba(0,0,0,0);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #description{
        border: none;
        width: 71%;
        font-size: 1.72vh;
        height: 100%;
        overflow: hidden;
        color: #fff;
        opacity: 0.6;
    }

    .authentication_box{
        width: 100%;
        height: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #con{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-height: 800px){ 
    #authenticationBtn{
        margin-top: 5%;
        height: 5.7vh;
        border-radius: 14px;
        font-size: 1.6vh;
    }

}

