#cont{
    background: linear-gradient(151.64deg, #FFFFFF 12.9%, #9F5DE6 76.97%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#productsHeader{
    height: 25%;
    width: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#productsBlock{
    width: 70%;
    height: 70%;
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    align-items: center;
}

#headerProdsTitle{
    width: 55%;
    padding: 3% 0;
    color: #3E0B71;
    font-size: 2.2vw;
    border-bottom: #3E0B71 solid 1px;
    font-family: "Montserrat";
    font-weight: 500;
}

#logoProds{
    position: absolute;
    right: 5%;
    top: 7%;
    height: 8%;
}



.boxProduct{
    width: 30%;
    height: 80%;
    gap: 5%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boxProduct::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.prodImage{
    display: flex;
    align-items: flex-end;
    width: 18vw;
    height: 18vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 22px;
    filter: drop-shadow(0px 1px 1px rgba(62, 11, 113, 0.3));
    border: 1px solid white;
}

.titleProduct{
    width: 80%;
    height: 10%;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 1.5vw;
}

.descriptionProduct{
    text-align: center;
    font-family: "Montserrat";
    width: 55%;
    height: 20%;
    font-size: 0.9vw;
    opacity: 0.6;
    font-weight: 400;
    color: #FFFFFF;
}

.priceProduct>button{
    background: linear-gradient(264.18deg, rgba(195, 21, 223, 0.75) 11.82%, rgba(62, 11, 113, 0.75) 78.86%);
    box-shadow: 0px 1px 1px rgba(62, 11, 113, 0.3);
    border-radius: 12px 0px 0px 12px;
    outline: none;
    border: 0;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 0.7vw;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 3% 7%;
    width: 30%;
    margin-top: 2%;
}

.priceProduct > p{
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 0.7vw;
    margin-right: 2%;
}

.priceProduct{
    position: relative;
    bottom: 10%;
    width: 100%;
    height: 20%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#headerMobile{
    display: none;
}

@media (max-width: 780px){
    
    #logoProds{
        display: none;
    }

    #headerMobile{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 30vh;
    }

    #headerProdsTitle{
        display: none;
    }
    #productsHeader{
        display: none;
    }
    
    #productsBlock{
        flex-direction: column;
        width: 81%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
        gap: 5vh;
    }

    .boxProduct{
        margin-top: 10%;
        width: 100%;
        overflow-y: visible;
    }

    .boxProduct:last-child{
        margin-bottom: 10%;
    }

    .prodImage{
        display: flex;
        align-items: flex-end;
        width: 80vw;
        height: 80vw;
    }

    #cont{
        background: linear-gradient(151.64deg, #FFFFFF 12.9%, #9F5DE6 76.97%);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .priceProduct>p{
        font-size: 1.5vh;
    }
    .priceProduct>button{
        font-size: 1.4vh;
    }
    .descriptionProduct{
        width: 80%;
        overflow-y: hidden;
        font-size: 1.5vh;
        height: auto;
    }
    .titleProduct{
        display: block;
        height: 4vh;
        margin-top: 1vh;
        font-size: 2.2vh;
    }
}