
.box_social_network{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

#networksContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

#networks{
    width: 20vw;
    height: 80%;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network{
    height: 80%;
    width: 30%;
    gap: 5%;
    display: flex;
    align-items: center;
}

.netName{
    color: white;
    font-family: "Montserrat";
    font-size: 0.7vw;
}


#stores{
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store{
    width: 35%;
    height: 80%;
    outline: none;
    border: none;
    cursor: pointer;
}

#playmarket{
    background: url("../../media/playmarket.png") no-repeat center;
    background-size:contain;
}

#appstore{
    background: url("../../media/appstore.png") no-repeat center;
    background-size:contain;
}
